<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <link rel="stylesheet" media="screen" href="style.css"/>
        <title>Lafon BANCF</title>
    </head>

    <body>
        <h1>LAFON BANCF</h1>
        <nav id="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/new">Enregistrer une anomalie</a></li>
            </ul>
        </nav>
        {{{body}}}
        <script src="func.js"></script>
    </body>
</html>